body {
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1250px;
}
input {
    width: 300px;
    border-radius: 10px;
    border: none;
}